.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/resources/.DS_Store
src/main/resources/static/playlist/.DS_Store
src/main/resources/static/playlist/magic-ear-8-times/.DS_Store
src/main/resources/local.properties
/target/
/.idea/
/.settings/
/logs/